* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}
html{
    font-size: 70%;
}
body{
    background-color: rgb(78, 36, 142);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
main{
    border-radius: 3px;
    background-color: white;
    height: 600px;
    width: 600Px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px 5px rgb(159, 101, 239);
}

.text{
    height: 600px;
    width: 95%;
    margin: 3rem;
    transform: translateY(-20px);
    font-size: 1.5rem;
    resize: none;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-family: "Times New Roman", Times, serif;
}
.boxes{
    border-radius: 7px;
    background-color: rgb(0,0,0);
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 540px;
    transform: translateY(280px);
    gap: 1rem;
}
.box{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transform: translateY(-2px);
    font-family: "Times New Roman", Times, serif;

}
.box::before {
    content: attr(data-text);
    color: rgba(164, 74, 255, 0.874);
    position: absolute;
    height: 10px;
    width: 50px;
    font-size:1.3rem;
    transform: translateY(13px);
    text-align: center;
    font-family: "Times New Roman", Times, serif;

}